:root {
  --color-primary: #4285f4;
  --color-secondary: #db4437;
  --color-accent: #0f9d58;
  --color-accent-two: #f4b400;
  --color-headings: #3c4858;
  --color-body: #404040;
  --color-border: #ccc;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Topography*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.text--primary {
  color: var(--color-primary);
}
.text--secondary {
  color: var(--color-secondary);
}
.text--accent {
  color: var(--color-accent);
}
.text--accent-two {
  color: var(--color-accent-two);
}

.text-set {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 1.5rem 1rem 1.5rem;
  word-wrap: break-word;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  .text-set {
    font-size: 1.6rem;
    padding: 0 4rem;
  }
  .max-text-width {
    padding: 0 10rem;
  }
}

/*Links*/
a {
  text-decoration: none;
  color: inherit;
}

.link--primary {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.link--primary:hover {
  color: var(--color-secondary);
}
@media screen and (min-width: 1024px) {
  .link--primary {
    font-size: 1.8rem;
    margin: 0 0 2rem 0;
  }
}

/* Flex */

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex--column-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flex--column-row {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Buttons */
.button {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 8vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.button--primary {
  background: var(--color-primary);
  color: #fff;
}
.button--primary:hover {
  background: #3a8ffd;
}

.button--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.button--secondary:hover {
  background: #da655a;
}
.button--accent {
  background: var(--color-accent);
  color: #fff;
}
.button--accent--two {
  background: var(--color-accent-two);
  color: #fff;
}
.button--accent--two:hover {
  background: #f3c547;
}
.button--accent:hover {
  background: #ec3000;
}

.button--link {
  margin: 1rem 2rem;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    padding: 2rem 4vw;
  }
}

/* Blocks */
.team {
  padding-top:15px;
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the child elements */
  /* Additional styling for your team section */
}

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 0;
}

.block__heading {
  color: var(--color-headings);
  margin-top: 10px;
}
.block__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.light--heading {
  color: white;
}
.block__text {
  font-size: 1.5rem;
  color: var(--color-body);
  padding: 1rem 2rem;
  text-align: center;
}
.block__body__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block__body__secondary {
  background-color: white;
}
.block--btn {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.block__image {
  width: 70%;
  margin: 1rem 0 2rem 0;
}
.campus__image {
  width: 90%;
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 10px;
}
.event__image {
  width: 70%;
  margin: 1rem 0 2rem 0;
}
.btn-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block__event__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .block__image {
    width: 35%;
    margin: 1rem 7rem 2rem 4rem;
  }
  .event__image {
    width: 60%;
    margin: 1rem 7rem 2rem 4rem;
  }
  .campus__image {
    width: 40%;
    margin: 1rem 4rem 2rem 2rem;
  }
  .block__text {
    font-size: 1.8rem;
    text-align: left;
    padding: 1rem 1.5rem 1rem 0;
  }
  .block__body__main {
    margin-left: 2rem;
  }
  .block__body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .block__body__main {
    padding: 1rem 5rem;
    justify-content: center;
    align-items: flex-start;
  }
  .block__event__container {
    margin-right: 10rem;
  }
  .btn-block {
    margin-right: 1rem;
  }
  .extra-right-margin {
    margin: 1rem 1rem 0 12rem;
  }
}



/*==============================*/
/* REMASTERED */
/* RTX-ON */
/* completely redone toggle and droid */

.bb8-toggle {
  --toggle-size: 9px;
  /* finally I removed the scale now everything depends on the font-size */
  /* --margin-top-for-head: 1.75em; */
  /* it's just in case 👆 */
  --toggle-width: 10.625em;
  --toggle-height: 5.625em;
  --toggle-offset: calc((var(--toggle-height) - var(--bb8-diameter)) / 2);
  --toggle-bg: linear-gradient(#2c4770, #070e2b 35%, #628cac 50% 70%, #a6c5d4)
    no-repeat;
  --bb8-diameter: 4.375em;
  --radius: 99em;
  --transition: 0.4s;
  --accent: #de7d2f;
  --bb8-bg: #fff;
}

.bb8-toggle,
.bb8-toggle *,
.bb8-toggle *::before,
.bb8-toggle *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bb8-toggle {
  cursor: pointer;
  margin-top: var(--margin-top-for-head);
  font-size: var(--toggle-size);
}

.bb8-toggle__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.bb8-toggle__container {
  width: var(--toggle-width);
  height: var(--toggle-height);
  background: var(--toggle-bg);
  background-size: 100% 11.25em;
  background-position-y: -5.625em;
  border-radius: var(--radius);
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: calc(var(--toggle-offset) - 1.688em + 0.188em);
  left: var(--toggle-offset);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
}

.bb8__head-container {
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
  -webkit-transform-origin: 1.25em 3.75em;
  -ms-transform-origin: 1.25em 3.75em;
  transform-origin: 1.25em 3.75em;
}

.bb8__head {
  overflow: hidden;
  margin-bottom: -0.188em;
  width: 2.5em;
  height: 1.688em;
  background: -o-linear-gradient(
      transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em
    ),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(
      transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em
    ),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(
      transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em
    ),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(
      transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em
    ),
    -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent
          1.25em),
    -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: linear-gradient(
      transparent 0.063em,
      dimgray 0.063em 0.313em,
      transparent 0.313em 0.375em,
      var(--accent) 0.375em 0.5em,
      transparent 0.5em 1.313em,
      silver 1.313em 1.438em,
      transparent 1.438em
    ),
    linear-gradient(
      45deg,
      transparent 0.188em,
      var(--bb8-bg) 0.188em 1.25em,
      transparent 1.25em
    ),
    linear-gradient(
      -45deg,
      transparent 0.188em,
      var(--bb8-bg) 0.188em 1.25em,
      transparent 1.25em
    ),
    linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  border-radius: var(--radius) var(--radius) 0 0;
  position: relative;
  z-index: 1;
  -webkit-filter: drop-shadow(0 0.063em 0.125em gray);
  filter: drop-shadow(0 0.063em 0.125em gray);
}

.bb8__head::before {
  content: "";
  position: absolute;
  width: 0.563em;
  height: 0.563em;
  background: -o-radial-gradient(
      0.25em 0.375em,
      0.125em circle,
      red,
      transparent
    ),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent
          100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(
      0.25em 0.375em,
      0.125em circle,
      red,
      transparent
    ),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent
          100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(
      0.25em 0.375em,
      0.125em circle,
      red,
      transparent
    ),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent
          100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(
      0.25em 0.375em,
      0.125em circle,
      red,
      transparent
    ),
    -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent
          100%),
    -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: radial-gradient(
      0.125em circle at 0.25em 0.375em,
      red,
      transparent
    ),
    radial-gradient(
      0.063em circle at 0.375em 0.188em,
      var(--bb8-bg) 50%,
      transparent 100%
    ),
    linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  border-radius: var(--radius);
  top: 0.413em;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-box-shadow: 0 0 0 0.089em lightgray, 0.563em 0.281em 0 -0.148em,
    0.563em 0.281em 0 -0.1em var(--bb8-bg), 0.563em 0.281em 0 -0.063em;
  box-shadow: 0 0 0 0.089em lightgray, 0.563em 0.281em 0 -0.148em,
    0.563em 0.281em 0 -0.1em var(--bb8-bg), 0.563em 0.281em 0 -0.063em;
  z-index: 1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__head::after {
  content: "";
  position: absolute;
  bottom: 0.375em;
  left: 0;
  width: 100%;
  height: 0.188em;
  background: -o-linear-gradient(
    left,
    var(--accent) 0.125em,
    transparent 0.125em 0.188em,
    var(--accent) 0.188em 0.313em,
    transparent 0.313em 0.375em,
    var(--accent) 0.375em 0.938em,
    transparent 0.938em 1em,
    var(--accent) 1em 1.125em,
    transparent 1.125em 1.875em,
    var(--accent) 1.875em 2em,
    transparent 2em 2.063em,
    var(--accent) 2.063em 2.25em,
    transparent 2.25em 2.313em,
    var(--accent) 2.313em 2.375em,
    transparent 2.375em 2.438em,
    var(--accent) 2.438em
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.125em, var(--accent)),
    color-stop(0.125em, transparent),
    color-stop(0.188em, var(--accent)),
    color-stop(0.313em, transparent),
    color-stop(0.375em, var(--accent)),
    color-stop(0.938em, transparent),
    color-stop(1em, var(--accent)),
    color-stop(1.125em, transparent),
    color-stop(1.875em, var(--accent)),
    color-stop(2em, transparent),
    color-stop(2.063em, var(--accent)),
    color-stop(2.25em, transparent),
    color-stop(2.313em, var(--accent)),
    color-stop(2.375em, transparent),
    color-stop(2.438em, var(--accent))
  );
  background: linear-gradient(
    to right,
    var(--accent) 0.125em,
    transparent 0.125em 0.188em,
    var(--accent) 0.188em 0.313em,
    transparent 0.313em 0.375em,
    var(--accent) 0.375em 0.938em,
    transparent 0.938em 1em,
    var(--accent) 1em 1.125em,
    transparent 1.125em 1.875em,
    var(--accent) 1.875em 2em,
    transparent 2em 2.063em,
    var(--accent) 2.063em 2.25em,
    transparent 2.25em 2.313em,
    var(--accent) 2.313em 2.375em,
    transparent 2.375em 2.438em,
    var(--accent) 2.438em
  );
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__antenna {
  position: absolute;
  -webkit-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 0.059em;
  border-radius: var(--radius) var(--radius) 0 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__antenna:nth-child(1) {
  height: 0.938em;
  right: 0.938em;
  background: -o-linear-gradient(#000 0.188em, silver 0.188em);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.188em, #000),
    color-stop(0.188em, silver)
  );
  background: linear-gradient(#000 0.188em, silver 0.188em);
}

.bb8__antenna:nth-child(2) {
  height: 0.375em;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  background: silver;
}

.bb8__body {
  width: 4.375em;
  height: 4.375em;
  background: var(--bb8-bg);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(4%, var(--bb8-bg)),
      color-stop(4%, var(--accent)),
      color-stop(10%, transparent),
      color-stop(90%, var(--accent)),
      color-stop(96%, var(--bb8-bg))
    ),
    -webkit-gradient(linear, left top, left bottom, color-stop(4%, var(--bb8-bg)), color-stop(4%, var(--accent)), color-stop(10%, transparent), color-stop(90%, var(--accent)), color-stop(96%, var(--bb8-bg))),
    -webkit-gradient(linear, left top, right top, color-stop(2.156em, transparent), color-stop(2.156em, silver), color-stop(2.188em, transparent)),
    -webkit-gradient(linear, left top, left bottom, color-stop(2.156em, transparent), color-stop(2.156em, silver), color-stop(2.188em, transparent));
  background: -o-linear-gradient(
      right,
      var(--bb8-bg) 4%,
      var(--accent) 4% 10%,
      transparent 10% 90%,
      var(--accent) 90% 96%,
      var(--bb8-bg) 96%
    ),
    -o-linear-gradient(var(--bb8-bg) 4%, var(--accent) 4% 10%, transparent 10%
          90%, var(--accent) 90% 96%, var(--bb8-bg) 96%),
    -o-linear-gradient(left, transparent 2.156em, silver 2.156em 2.219em, transparent
          2.188em),
    -o-linear-gradient(transparent 2.156em, silver 2.156em 2.219em, transparent
          2.188em);
  background: linear-gradient(
      -90deg,
      var(--bb8-bg) 4%,
      var(--accent) 4% 10%,
      transparent 10% 90%,
      var(--accent) 90% 96%,
      var(--bb8-bg) 96%
    ),
    linear-gradient(
      var(--bb8-bg) 4%,
      var(--accent) 4% 10%,
      transparent 10% 90%,
      var(--accent) 90% 96%,
      var(--bb8-bg) 96%
    ),
    linear-gradient(
      to right,
      transparent 2.156em,
      silver 2.156em 2.219em,
      transparent 2.188em
    ),
    linear-gradient(
      transparent 2.156em,
      silver 2.156em 2.219em,
      transparent 2.188em
    );
  background-color: var(--bb8-bg);
}

.bb8__body::after {
  content: "";
  bottom: 1.5em;
  left: 0.563em;
  position: absolute;
  width: 0.188em;
  height: 0.188em;
  background: rgb(236, 236, 236);
  color: rgb(236, 236, 236);
  border-radius: 50%;
  -webkit-box-shadow: 0.875em 0.938em, 0 -1.25em, 0.875em -2.125em,
    2.125em -2.125em, 3.063em -1.25em, 3.063em 0, 2.125em 0.938em;
  box-shadow: 0.875em 0.938em, 0 -1.25em, 0.875em -2.125em, 2.125em -2.125em,
    3.063em -1.25em, 3.063em 0, 2.125em 0.938em;
}

.bb8__body::before {
  content: "";
  width: 2.625em;
  height: 2.625em;
  position: absolute;
  border-radius: 50%;
  z-index: 0.1;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0.313em solid var(--accent);
  background: -o-radial-gradient(
      center,
      1em circle,
      rgb(236, 236, 236) 50%,
      transparent 51%
    ),
    -o-radial-gradient(center, 1.25em circle, var(--bb8-bg) 50%, transparent 51%),
    -o-linear-gradient(right, transparent 42%, var(--accent) 42% 58%, transparent
          58%),
    -o-linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg)
          58%);
  background: -o-radial-gradient(
      center,
      1em circle,
      rgb(236, 236, 236) 50%,
      transparent 51%
    ),
    -o-radial-gradient(center, 1.25em circle, var(--bb8-bg) 50%, transparent 51%),
    -o-linear-gradient(right, transparent 42%, var(--accent) 42% 58%, transparent
          58%),
    -o-linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg)
          58%);
  background: radial-gradient(
      1em circle at center,
      rgb(236, 236, 236) 50%,
      transparent 51%
    ),
    radial-gradient(1.25em circle at center, var(--bb8-bg) 50%, transparent 51%),
    -webkit-gradient(linear, right top, left top, color-stop(42%, transparent), color-stop(42%, var(--accent)), color-stop(58%, transparent)),
    -webkit-gradient(linear, left top, left bottom, color-stop(42%, var(--bb8-bg)), color-stop(42%, var(--accent)), color-stop(58%, var(--bb8-bg)));
  background: radial-gradient(
      1em circle at center,
      rgb(236, 236, 236) 50%,
      transparent 51%
    ),
    radial-gradient(1.25em circle at center, var(--bb8-bg) 50%, transparent 51%),
    linear-gradient(
      -90deg,
      transparent 42%,
      var(--accent) 42% 58%,
      transparent 58%
    ),
    linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
}

.artificial__hidden {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.bb8__shadow {
  content: "";
  width: var(--bb8-diameter);
  height: 20%;
  border-radius: 50%;
  background: #3a271c;
  -webkit-box-shadow: 0.313em 0 3.125em #3a271c;
  box-shadow: 0.313em 0 3.125em #3a271c;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  left: calc(var(--toggle-offset) - 0.938em);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: skew(-70deg);
  -ms-transform: skew(-70deg);
  transform: skew(-70deg);
  z-index: 1;
}

.bb8-toggle__scenery {
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  border-radius: inherit;
}

.bb8-toggle__scenery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: #b18d71;
  z-index: 1;
}

.bb8-toggle__cloud {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
}

.bb8-toggle__cloud:nth-last-child(1) {
  width: 0.875em;
  height: 0.625em;
  -webkit-filter: blur(0.125em) drop-shadow(0.313em 0.313em #ffffffae)
    drop-shadow(-0.625em 0 #fff) drop-shadow(-0.938em -0.125em #fff);
  filter: blur(0.125em) drop-shadow(0.313em 0.313em #ffffffae)
    drop-shadow(-0.625em 0 #fff) drop-shadow(-0.938em -0.125em #fff);
  right: 1.875em;
  top: 2.813em;
  background: -o-linear-gradient(bottom left, #ffffffae, #ffffffae);
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#ffffffae),
    to(#ffffffae)
  );
  background: linear-gradient(to top right, #ffffffae, #ffffffae);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8-toggle__cloud:nth-last-child(2) {
  top: 0.625em;
  right: 4.375em;
  width: 0.875em;
  height: 0.375em;
  background: #dfdedeae;
  -webkit-filter: blur(0.125em) drop-shadow(-0.313em -0.188em #e0dfdfae)
    drop-shadow(-0.625em -0.188em #bbbbbbae) drop-shadow(-1em 0.063em #cfcfcfae);
  filter: blur(0.125em) drop-shadow(-0.313em -0.188em #e0dfdfae)
    drop-shadow(-0.625em -0.188em #bbbbbbae) drop-shadow(-1em 0.063em #cfcfcfae);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.bb8-toggle__cloud:nth-last-child(3) {
  top: 1.25em;
  right: 0.938em;
  width: 0.875em;
  height: 0.375em;
  background: #ffffffae;
  -webkit-filter: blur(0.125em) drop-shadow(0.438em 0.188em #ffffffae)
    drop-shadow(-0.625em 0.313em #ffffffae);
  filter: blur(0.125em) drop-shadow(0.438em 0.188em #ffffffae)
    drop-shadow(-0.625em 0.313em #ffffffae);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.gomrassen,
.hermes,
.chenini {
  position: absolute;
  border-radius: var(--radius);
  background: -o-linear-gradient(#fff, #6e8ea2);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#6e8ea2)
  );
  background: linear-gradient(#fff, #6e8ea2);
  top: 100%;
}

.gomrassen {
  left: 0.938em;
  width: 1.875em;
  height: 1.875em;
  -webkit-box-shadow: 0 0 0.188em #ffffff52, 0 0 0.188em #6e8ea24b;
  box-shadow: 0 0 0.188em #ffffff52, 0 0 0.188em #6e8ea24b;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.gomrassen::before,
.gomrassen::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  -webkit-box-shadow: inset 0 0 0.063em rgb(140, 162, 169);
  box-shadow: inset 0 0 0.063em rgb(140, 162, 169);
  background: rgb(184, 196, 200);
}

.gomrassen::before {
  left: 0.313em;
  top: 0.313em;
  width: 0.438em;
  height: 0.438em;
}

.gomrassen::after {
  width: 0.25em;
  height: 0.25em;
  left: 1.25em;
  top: 0.75em;
}

.hermes {
  left: 3.438em;
  width: 0.625em;
  height: 0.625em;
  -webkit-box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.chenini {
  left: 4.375em;
  width: 0.5em;
  height: 0.5em;
  -webkit-box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  box-shadow: 0 0 0.125em #ffffff52, 0 0 0.125em #6e8ea24b;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.tatto-1,
.tatto-2 {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border-radius: var(--radius);
}

.tatto-1 {
  background: #fefefe;
  right: 3.125em;
  top: 0.625em;
  -webkit-box-shadow: 0 0 0.438em #fdf4e1;
  box-shadow: 0 0 0.438em #fdf4e1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.tatto-2 {
  background: -o-linear-gradient(#e6ac5c, #d75449);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e6ac5c),
    to(#d75449)
  );
  background: linear-gradient(#e6ac5c, #d75449);
  right: 1.25em;
  top: 2.188em;
  -webkit-box-shadow: 0 0 0.438em #e6ad5c3d, 0 0 0.438em #d755494f;
  box-shadow: 0 0 0.438em #e6ad5c3d, 0 0 0.438em #d755494f;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.bb8-toggle__star {
  position: absolute;
  width: 0.063em;
  height: 0.063em;
  background: #fff;
  border-radius: var(--radius);
  -webkit-filter: drop-shadow(0 0 0.063em #fff);
  filter: drop-shadow(0 0 0.063em #fff);
  color: #fff;
  top: 100%;
}

.bb8-toggle__star:nth-child(1) {
  left: 3.75em;
  -webkit-box-shadow: 1.25em 0.938em, -1.25em 2.5em, 0 1.25em, 1.875em 0.625em,
    -3.125em 1.875em, 1.25em 2.813em;
  box-shadow: 1.25em 0.938em, -1.25em 2.5em, 0 1.25em, 1.875em 0.625em,
    -3.125em 1.875em, 1.25em 2.813em;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.bb8-toggle__star:nth-child(2) {
  left: 4.688em;
  -webkit-box-shadow: 0.625em 0, 0 0.625em, -0.625em -0.625em, 0.625em 0.938em,
    -3.125em 1.25em, 1.25em -1.563em;
  box-shadow: 0.625em 0, 0 0.625em, -0.625em -0.625em, 0.625em 0.938em,
    -3.125em 1.25em, 1.25em -1.563em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bb8-toggle__star:nth-child(3) {
  left: 5.313em;
  -webkit-box-shadow: -0.625em -0.625em, -2.188em 1.25em, -2.188em 0,
    -3.75em -0.625em, -3.125em -0.625em, -2.5em -0.313em, 0.75em -0.625em;
  box-shadow: -0.625em -0.625em, -2.188em 1.25em, -2.188em 0, -3.75em -0.625em,
    -3.125em -0.625em, -2.5em -0.313em, 0.75em -0.625em;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8-toggle__star:nth-child(4) {
  left: 1.875em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bb8-toggle__star:nth-child(5) {
  left: 5em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.bb8-toggle__star:nth-child(6) {
  left: 2.5em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.bb8-toggle__star:nth-child(7) {
  left: 3.438em;
  width: 0.125em;
  height: 0.125em;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

/* actions */

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(1) {
  top: 0.625em;
}

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(2) {
  top: 1.875em;
}

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(3) {
  top: 1.25em;
}

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(4) {
  top: 3.438em;
}

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(5) {
  top: 3.438em;
}

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(6) {
  top: 0.313em;
}

.bb8-toggle__checkbox:checked
  + .bb8-toggle__container
  .bb8-toggle__star:nth-child(7) {
  top: 1.875em;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .bb8-toggle__cloud {
  right: -100%;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .gomrassen {
  top: 0.938em;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .hermes {
  top: 2.5em;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .chenini {
  top: 2.75em;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container {
  background-position-y: 0;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .tatto-1 {
  top: 100%;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .tatto-2 {
  top: 100%;
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .bb8 {
  left: calc(100% - var(--bb8-diameter) - var(--toggle-offset));
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .bb8__shadow {
  left: calc(100% - var(--bb8-diameter) - var(--toggle-offset) + 0.938em);
  -webkit-transform: skew(70deg);
  -ms-transform: skew(70deg);
  transform: skew(70deg);
}

.bb8-toggle__checkbox:checked + .bb8-toggle__container .bb8__body {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(225deg);
}

.bb8-toggle__checkbox:hover + .bb8-toggle__container .bb8__head::before {
  left: 100%;
}

.bb8-toggle__checkbox:not(:checked):hover
  + .bb8-toggle__container
  .bb8__antenna:nth-child(1) {
  right: 1.5em;
}

.bb8-toggle__checkbox:hover
  + .bb8-toggle__container
  .bb8__antenna:nth-child(2) {
  left: 0.938em;
}

.bb8-toggle__checkbox:hover + .bb8-toggle__container .bb8__head::after {
  background-position: 1.375em 0;
}

.bb8-toggle__checkbox:checked:hover
  + .bb8-toggle__container
  .bb8__head::before {
  left: 0;
}

.bb8-toggle__checkbox:checked:hover
  + .bb8-toggle__container
  .bb8__antenna:nth-child(2) {
  left: calc(100% - 0.938em);
}

.bb8-toggle__checkbox:checked:hover + .bb8-toggle__container .bb8__head::after {
  background-position: -1.375em 0;
}

.bb8-toggle__checkbox:active + .bb8-toggle__container .bb8__head-container {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.bb8-toggle__checkbox:checked:active
  + .bb8-toggle__container
  .bb8__head-container {
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.bb8:hover .bb8__head::before,
.bb8:hover .bb8__antenna:nth-child(2) {
  left: 50% !important;
}

.bb8:hover .bb8__antenna:nth-child(1) {
  right: 0.938em !important;
}

.bb8:hover .bb8__head::after {
  background-position: 0 0 !important;
}


/*==============================*/

/*Navbar*/
.nav__brand {
  width: 100%;
  height: 100%;
}
.nav__brand__container {
  max-width: 200px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  border-bottom: 0.5px solid var(--color-border);
}
.nav__list {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav__item {
  white-space: nowrap;
  color: var(--color-body);
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-primary);
}

.nav__toggler {
  font-size: 24px; /* Adjust the font size as needed */
  /* or */
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}
.nav.collapsible--expanded {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--color-primary);
  border-radius: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

.nav--btn {
  padding: 2rem 2rem;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav--btn {
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 1.5rem 2rem;
  }

  .nav__item {
    font-size: 1.3rem;
    font-weight: 500;
    border: 0;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem;
  }
  .nav__brand {
    margin: 1rem;
    width: 100%;
    max-width: 350px;
    height: 100%;
  }
  .nav__brand__container {
    max-width: 430px;
    margin-right: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item {
    font-size: 1.35rem;
  }
  .nav__brand {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .nav__item {
    font-size: 1.6rem;
    margin: 0 1rem;
  }
}

/*List*/
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.list--element {
  font-size: 1.8rem;
  margin: 1rem;
}
.list--element > a:hover {
  color: var(--color-primary);
}
.list--heading {
  font-size: 2.2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .list--element {
    white-space: nowrap;
    font-size: 1.4rem;
  }
  .list--heading {
    font-size: 1.6rem;
  }
}

/* Hero */
.hero {
  margin: 2rem 2rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__tagline {
  color: var(--color-body);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 0 2.5rem;
}

.hero__logo {
  width: 100%;
  margin: 1rem 0;
}

.hero__image {
  width: 70%;
  margin: 2rem 0;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__image {
    width: 50%;
  }
  .hero__logo {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .hero__logo {
    width: 30%;
  }
  .hero__image {
    margin-right: 6rem;
  }
  .hero__tagline {
    padding: 1rem 7rem;
  }
  .hero--link {
    font-size: 1.4rem;
  }
}

/* Images */

.small__image {
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 1024px) {
  .small__image {
    width: 120px;
    height: 120px;
  }
}

.hero__title {
  text-align: center;
  color: var(--color-body);
  font-size: 3rem;
  font-weight: 700;
}

/*Collapsibles*/

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    max-height: 100%;
    overflow: visible;
    opacity: 1;
  }
}

/*Banner*/

.banner {
  padding-top: 15px;
  padding: 6rem 0;
  margin: 0 1rem;
  text-align: center;
  border-radius: 10px;
}

.primary--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/blue-banner.png);
  color: white;
}
.secondary--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/red-banner.png);
  color: white;
}
.purple--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/purple.jpg);
  color: white;
}
.magenta--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/magenta.jpg);
  color: white;
}
.yellow--banner {
  padding-top: 15px;
  background: rgba(0, 0, 0, 0.7) url(../images/yellow-banner.png);
  color: var(--color-headings);
}
.green--banner {
  background: rgba(0, 0, 0, 0.7) url(../images/green-banner.png);
}
.green--banner > .block__heading {
  color: white;
}
.text1 {
  color: rgb(0, 0, 0); /* This sets the text color to dark grey */
  text-align: center;
  font-weight: bold; /* Makes the text bold */
    font-size: 1.2em; 
}
@media screen and (min-width: 1024px) {
  .banner {
    padding: 2rem 0;
    margin: 0 1rem 4rem 1rem;
  }
}

/*Cards*/
.profile__cardB {
  background: #FFFFFF; /* Set the card background color */
  border-radius: 15px; /* Rounded corners for the card */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Card shadow */
  width: 250px; /* Fixed width for each card */
  margin: 10px;
  overflow: hidden; /* Ensures nothing spills out of the card's rounded corners */
}

.profile__container {
  flex-basis: calc(33.333% - 20px); /* sets the base width for each card taking into account the gap */
    box-sizing: border-box; /* includes padding and border in the element's total width and height */
}

.profile__card {
    display: flex; /* establishes a flex container */
    flex-direction: column; /* stacks children elements vertically */
    align-items: center; /* centers items horizontally */
    background: #FFFFFF; /* sets the background color to white */
    border-radius: 10px; /* rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* shadow for the card */
    padding: 15px; /* padding inside the card */
    margin: 10px; /* space around each card */
}

/* Adjust the width as needed to fit your layout */
@media (max-width: 768px) {
  .profile__container {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
    .profile__container {
        flex-basis: 100%; /* for small screens, we show 1 card per row */
    }
}
.profile__card__headerB {
  background: linear-gradient(135deg, #0062E0, #33AEFF); /* Gradient background for the header */
  padding: 30px; /* Space inside the header */
}

.profile__image__containerB {
  margin-top: -30px;/* Adjusts the profile image container to be halfway up */
  text-align: center;
}

.profile__card__imageB {
  width: 80px; /* Adjusted profile image size */
  height: 80px;
  border-radius: 50%; /* Makes the image round */
  border: 5px solid #FFFFFF; /* White border around the image */
  display: inline-block;
}

.card__person-nameB {
  text-align: center;
  margin-top: 10px; /* Space after the profile image */
  font-weight: bold;
}

.person__positionB {
  text-align: center;
  color: #000000; /* Dark grey color for the text */
}

.social__mediaB{
  text-align: center;
  padding: 10px 0; /* Space for social media icons */
}

.social__media__iconB {
  width: 24px; /* Adjusts the social media icons size */
  height: 24px;
  margin: 0 5px; /* Space between the social media icons */
}
.card {
  background-color: whitesmoke;
  margin: 3rem;
  box-shadow: 0 0 1px 0.5px #f3f3f3;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 30vw;
  }
}
.card__content {
  padding: 1rem;
  margin: 1rem;
}
.card__heading {
  color: var(--color-headings);
}
.card__text {
  font-size: 1.4rem;
}
.no-wrap {
  flex-wrap: nowrap;
  align-items: stretch;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 40vw;
  }
  .card__text {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
/*Icons*/

.icon {
  width: 50px;
  height: 50px;
}

/*Flex*/

.flex-row {
  display: flex;
}

.flex-row-reverse {
  display: flex;
}
.flex-column {
  display: flex;
}
@media screen and (min-width: 768px) {
  .flex-row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*Event Blocks*/
.block__event {
  text-align: center;
  margin: 1rem auto;
}
.event__type {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 8px;
  margin: 1rem;
  max-width: 200px;
}
.event__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.event__description {
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  max-width: 400px;
}

.primary__event {
  background-color: #c6ddfa;
  color: var(--color-primary);
}

.secondary__event {
  background-color: #ece3e2;
  color: var(--color-secondary);
}

.accent__event {
  background-color: #e3ede8;
  color: var(--color-accent);
}

.accent__two__event {
  background-color: #f6efd7;
  color: var(--color-accent-two);
}
.event__body__one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*==========NEW Profile Card===========

.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
  transition: outline 0.3s ease;
}

.card2 {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  -webkit-transition: all .2s;
  transition: all .2s;
 }
 
 .card2:hover {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  border-radius: 20px;
 }
.e-card:hover {
  -webkit-box-shadow: 0px 0px 30px 1px rgb(254, 203, 0);
          box-shadow: 0px 0px 30px 1px rgb(254, 203, 0);
 }
  
.wave {
  position: absolute;
  width: 600px;
  height: 800px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#05ff97,#38a501 60%,#6ba513);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}*/


/* Repeat the above styles for .secondary, .accent, and .accent--two if needed */


.profile__card__body {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__card__image {
  border-radius: 50%;
  border: 3px solid white;
  width: 80%; /* Adjusted width to fill the container */
  max-width: 400px; /* Set a maximum width to control size */
  height: auto; /* Allow the height to adjust proportionally */
  display: block; /* Ensure it behaves as a block-level element */
  margin: 0 auto; /* Center the image horizontally */
}

.profile__image__container {
  width: 100%; /* Set the width to 100% for mobile devices */
  text-align: center; /* Center the image horizontally */
  margin-top: 50px; /* Adjust the top margin as needed */

  /* Additional styling for larger screens (optional) */
  @media screen and (max-width: 374px) {
    width: 280px; /* Set the width to 280px for screens wider than 767px */
  }
}

.card__person-name {
  text-align: center;
  font-size: 2.5rem;
padding-top: 0%;
}
.card__person-name_long {
  padding: 1rem 4rem;
}
.social__media {
  display: flex;
  flex-direction: row;
  border-top: 2px solid lightgray;
  width: 100%;
  justify-content: center;
  margin-top: 0px;
}

.social__media__container {
  text-align: center;
  margin: 1rem 2rem;
}

.social__icon__ni {
  max-width: 100%; /* Ensure the icon doesn't exceed its container */
}

.social__media__icon {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.social__media__icon:hover {
  filter: brightness(0) invert(0.5);
}
.social__media__icon__light {
  filter: brightness(0) invert(1);
  margin-right: 1rem;
}
.person__position {
  font-size: 2rem;
}
@media screen and (max-width: 374px) {
  .profile__card__image {
    transform: translateY(-70px);
  }
}

@media screen and (min-width: 768px) {
  .card__person-name {
    font-size: 2rem;
    padding: 1rem 4rem;
  }
  .card__person-name_long {
    padding: 0 4rem;
  }
  .person__position {
    font-size: 1.8rem;
  }
  .social__media__icon {
    width: 100%;
    max-width: 30px;
  }
  .profile__card__header {
    height: 120px;
  }
  .profile__card__image {
    transform: translateY(-50px);
  }
  .profile__container {
    max-width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .profile__card__image {
    transform: translateY(-50px);
    width: 45%;
  }
  .profile__card {
    width: 80%;
    max-width: 300px;
    margin: 1rem 0;
  }
  .profile__container {
    max-width: 300px;
  }
}



/*Footer*/
.footer {
  background-color: whitesmoke;
  padding: 1rem; /* Adjust padding based on your design */
  margin-top: auto; /* Push the footer to the bottom */
}
.footer__brand {
  width: 270px;
}
.credits {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.footer__icon {
  width: 30px;
  height: 30px;
  filter: opacity(40%);
  margin: 0.5rem 1.2rem;
}
.footer__icon:hover {
  filter: brightness(0) invert(0.3);
}
.footer__img__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__img__social > .social__media__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer--flex {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.list--element > a {
  transition: color 0.3s;
}
@media screen and (min-width: 768px) {
  .footer--flex {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
  }
  .footer__brand {
    width: 230px;
  }
  .footer {
    padding: 4rem 0 4rem 0;
  }
  .footer__icon {
    width: 25px;
    height: 25px;
  }
  .footer--section {
    margin-top: auto; /* Additional space may be coming from here */
    margin-bottom: 0; /* Ensure no margin at the bottom */
  }
}


/*Dark Mode*/
body {
  transition: background 0.2s linear;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 45px;
  height: 20px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.toggle__container {
  margin: 1rem 1rem 1rem 1.2rem;
}
.toggle__icon {
  filter: brightness(0) invert(1);
  width: 12px;
  height: 12px;
}
.text-light {
  color: white;
}
.sticky-light {
  background-color: #292c35;
  border-bottom: 0.5px solid #1d2026;
}
.footer-dark {
  background-color: #1d2026;
}


.card-dark {
  background-color: #1d2026;
  box-shadow: 0 0 1px 0.5px #111316;
}
.profile__card__body__dark {
  background-color: #1d2026;
}
.social__media__dark {
  border-top: 2px solid #111316;
}
.banner-dark {
  background-blend-mode: darken;
}
.button--primary-dark {
  background: #274f90;
}
.button--secondary-dark {
  background: #993027;
}
.button--accent--two-dark {
  background: #b58500;
}






/*=========NEW Profile Cards=========*/
/* A-Team Container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  justify-content: center; /* Center cards horizontally */
}

.w-card {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #ffce08, #e5b906, #d79402, #dcb402);
  animation: gradient 5s ease infinite;
  background-size: 500% 500%;
  width: 100%; /* Use percentage for responsiveness */
  max-width: 300px; /* Set a max-width for larger screens */
  height: auto; /* Auto-adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* B-Team Container for the cards */

.b-card {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #017ffe, #1f4cfe, #2e4779, #008fd2);
  animation: gradient 5s ease infinite;
  background-size: 500% 500%;
  width: 100%; /* Use percentage for responsiveness */
  max-width: 300px; /* Set a max-width for larger screens */
  height: auto; /* Auto-adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
/* --------------/B-Team Container for the cards--------------- */

/* she-Team Container for the cards */

.she-card {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #f03aab, #bd4091, #e03b72, #d81d8d);
  animation: gradient 5s ease infinite;
  background-size: 500% 500%;
  width: 100%; /* Use percentage for responsiveness */
  max-width: 300px; /* Set a max-width for larger screens */
  height: auto; /* Auto-adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
/* --------------/iot-Team Container for the cards--------------- */
/* iot-Team Container for the cards */

.iot-card {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #7d11e3, #7e1eba, #6324b7, #6e1ea3);
  animation: gradient 5s ease infinite;
  background-size: 500% 500%;
  width: 100%; /* Use percentage for responsiveness */
  max-width: 300px; /* Set a max-width for larger screens */
  height: auto; /* Auto-adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
/* --------------/iot-Team Container for the cards--------------- */

.aiml-card {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #BE3455, #d6365b, #dd2e57, #e02a54);
  animation: gradient 5s ease infinite;
  background-size: 500% 500%;
  width: 100%; /* Use percentage for responsiveness */
  max-width: 300px; /* Set a max-width for larger screens */
  height: auto; /* Auto-adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
/* --------------/aiml-Team Container for the cards--------------- */

@keyframes gradient {
  0% {
    background-position: 0 50%;
    box-shadow: 0px 0px 2px #ffffff,
      0px 0px 5px #ffffff,
      0px 0px 10px #6eecd2,
      0px 0px 50px #6eecd2;
  }

  50% {
    background-position: 100% 50%;
    box-shadow: 0px 0px 2px #ffffff,
      0px 0px 5px #ffffff,
      0px 0px 10px #b260ff,
      0px 0px 50px #b260ff;
  }

  100% {
    background-position: 0 50%;
    box-shadow: 0px 0px 2px #ffffff,
          0px 0px 5px #ffffff,
          0px 0px 10px #fffb01,
          0px 0px 50px #fffb01;
  }
}

.heading {
  color: white;
  font-weight: 500;
  font-size: 1.2em; /* Adjust font size for better readability */
  text-align: center;
  gap: 5px;
}

.heading span {
  font-size: 1.5em; /* Adjust font size for better readability */
  font-weight: 800;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

@media screen and (max-width: 768px) {
  .heading span {
    font-size: 1.8em; /* Adjust the font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .heading span {
    font-size: 1.2em; /* Adjust the font size for even smaller screens */
  }
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
  gap: 10px;
}

.item {
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: default;
}

.item svg {
  margin-top:20px;
  transition-duration: 0.3s;
}

.item:hover svg {
  filter: drop-shadow(0px 0px 14px rgb(255, 255, 255));
  transition-duration: 0.3s;
}

button {
  width: 100%;
  max-width: 200px; /* Set a max-width for larger screens */
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 100px white;
  transition-duration: 0.3s;
}

button:hover {
  letter-spacing: 1.5px;
  transition-duration: 0.3s;
}

.w-card:before {
  content: "";
  position: absolute;
  font-size: 4em;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -14.2%;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.445));
}

.Arole {
  padding-top: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  height: 50px;
  padding-bottom: 30px;
}

.Aname {
  margin: 0px;
  padding-bottom: 60px;
  font-weight: 800;
  height: 30px;
}


/*============Hamburger================*/
.hamburger {
  cursor: pointer;
  display:none;
}
/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .hamburger {
    display: block; /* Show the hamburger button on mobile */
  }
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(115, 115, 115);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}